sunbird-mcp-server/n8n-workflows/dctrack-ai-assistant-v2.json
{
  "name": "Sunbird DCIM AI Assistant v2 (Dynamic MCP)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dctrack-chat/chat/completions",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "99bb4348-d8fa-4c80-b19e-e10ab7e4b352",
      "name": "Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3936,
        2048
      ],
      "webhookId": "dctrack-chat-v2"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nlet message = '';\nlet history = [];\n\nif (body.messages && Array.isArray(body.messages)) {\n  history = body.messages;\n  const userMessages = body.messages.filter(m => m.role === 'user');\n  message = userMessages.length > 0 ? userMessages[userMessages.length - 1].content : '';\n} else {\n  message = body.message || body.query || '';\n}\n\nconst session_id = body.session_id || 'session_' + Date.now();\n\nreturn { message: message || 'hello', session_id, history };"
      },
      "id": "ad14bfae-8049-4d52-891b-d59331bc91bd",
      "name": "Input Validator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3728,
        2048
      ]
    },
    {
      "parameters": {
        "url": "http://sunbird-mcp-server.aitp-ai.svc.cluster.local:8080/tools?detail=full",
        "options": {
          "timeout": 15000
        }
      },
      "id": "cdde9d0f-44f8-41f7-858f-8331f0060c87",
      "name": "Fetch MCP Tools",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3504,
        2048
      ]
    },
    {
      "parameters": {
        "jsCode": "const tools = $json || [];\nconst rawTools = Array.isArray(tools) ? tools : (tools.tools || tools.data || []);\nconst userMessage = $('Input Validator').first().json.message;\nconst session_id = $('Input Validator').first().json.session_id;\n\nconst dctrack = [];\nconst poweriq = [];\nconst combined = [];\n\nfunction formatParams(schema) {\n  if (!schema || !schema.properties) return '';\n  const props = schema.properties;\n  const required = schema.required || [];\n  const parts = [];\n  for (const [key, val] of Object.entries(props)) {\n    const v = val;\n    const req = required.includes(key) ? ' (required)' : '';\n    const type = v.type || 'any';\n    const desc = v.description ? ` - ${v.description}` : '';\n    parts.push(`    ${key}: ${type}${req}${desc}`);\n  }\n  return parts.length > 0 ? '\\n' + parts.join('\\n') : '';\n}\n\nfor (const t of rawTools) {\n  const name = t.name || '';\n  const desc = t.description || '';\n  const params = formatParams(t.inputSchema);\n  const line = `- ${name}: ${desc}${params}`;\n  if (name.startsWith('dctrack_')) dctrack.push(line);\n  else if (name.startsWith('poweriq_')) poweriq.push(line);\n  else if (name.startsWith('dcim_')) combined.push(line);\n}\n\nconst toolCatalog = [\n  `## dcTrack Tools (${dctrack.length})`,\n  ...dctrack,\n  '',\n  `## Power IQ Tools (${poweriq.length})`,\n  ...poweriq,\n  '',\n  `## Combined Analytics Tools (${combined.length})`,\n  ...combined\n].join('\\n');\n\nconst systemPrompt = `You are a Sunbird DCIM AI assistant with access to dcTrack (asset management) and Power IQ (power monitoring) APIs.\n\nYou have ${rawTools.length} tools available. When the user asks about data center infrastructure, choose the right tool and respond with a JSON tool call.\n\nRULES:\n1. CRITICAL: If the user needs data, respond with ONLY raw JSON. No text before or after. No markdown code blocks. ONLY the JSON object or array.\n2. Single tool call: {\"tool\": \"tool_name\", \"args\": {\"param\": \"value\"}}\n3. Multiple tool calls (bulk operations): [{\"tool\": \"tool_name\", \"args\": {...}}, {\"tool\": \"tool_name\", \"args\": {...}}]\n4. If the user is making conversation (greetings, thanks, general questions), respond with plain text.\n5. Pick the most specific tool for the request.\n6. For args, use the parameter names exactly as listed under each tool. Use numeric IDs where required.\n7. For list/search operations: when user says \"list all\" or \"show all\", use pageSize=100. For specific queries use pageSize=20-50. The model library has 10,000+ entries \u2014 for models specifically, default to pageSize=50 unless user wants more.\n8. dcTrack items use field names like tiName, cmbLocation, cmbCabinet, cmbStatus, tiClass.\n9. Power IQ uses field names like name, id, pdu_id, severity.\n10. Only include required parameters unless the user specifies additional filters.\n11. For tools with no parameters listed, pass an empty args object: {\"tool\": \"tool_name\", \"args\": {}}\n12. Cabinet creation requires: name, locationId, make (string), model (string). Example: {\"tool\": \"dctrack_create_cabinet\", \"args\": {\"name\": \"CAB-01\", \"locationId\": 8, \"make\": \"Rittal\", \"model\": \"Orsted VX5311.116\"}}\n13. IMPORTANT: For ANY question about cabinet capacity, free space, available U slots, or utilization, ALWAYS use dctrack_list_cabinets_with_capacity. NEVER use dctrack_get_cabinet_capacity for this — it only works for one cabinet at a time and requires an ID.\n\nKNOWN LOCATION IDs:\n- AI-DEMO-DC = 7 (data center \u2014 top level)\n- AI-ROOM-01 = 8 (room inside AI-DEMO-DC \u2014 use this when user says \"in AI-ROOM-01\")\n\nAVAILABLE TOOLS:\n${toolCatalog}`;\n\n// Build messages array with conversation history\nconst history = $('Input Validator').first().json.history || [];\nconst messages = [{ role: 'system', content: systemPrompt }];\n\n// Add conversation history (skip system messages, limit to last 10 turns)\nconst relevantHistory = history.filter(m => m.role === 'user' || m.role === 'assistant').slice(-10);\nfor (const msg of relevantHistory) {\n  // Skip the last user message since we add it separately\n  if (msg === relevantHistory[relevantHistory.length - 1] && msg.role === 'user') continue;\n  messages.push({ role: msg.role, content: msg.content });\n}\n\nmessages.push({ role: 'user', content: userMessage });\n\nreturn { systemPrompt, userMessage, session_id, toolCount: rawTools.length, messages };"
      },
      "id": "c758e5be-0d4b-4374-b947-ee469177e469",
      "name": "Build LLM Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3280,
        2048
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://portkey-gateway.aitp-ai.svc.cluster.local:8787/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-portkey-provider",
              "value": "anthropic"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-3-haiku-20240307\",\n  \"max_tokens\": 4096,\n  \"temperature\": 0.1,\n  \"messages\": {{ JSON.stringify($json.messages) }}\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "ac555a4f-74f1-4567-8681-b61e8d4149a0",
      "name": "LLM Tool Selection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3056,
        2048
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "AzCkqafDCBelwLnq",
          "name": "Anthropic-API-Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse LLM response \u2014 robust JSON extractor with brace-counting\n// Handles: clean JSON, text preamble, markdown code blocks, nested args\nconst MCP_BASE = 'http://sunbird-mcp-server.aitp-ai.svc.cluster.local:8080';\nconst response = $json;\nconst session_id = $('Input Validator').first().json.session_id;\nconst userMessage = $('Input Validator').first().json.message;\nlet content = '';\n\ntry {\n  content = response.choices?.[0]?.message?.content || '';\n} catch (e) {\n  return { directAnswer: 'Sorry, I encountered an error processing your request.', toolName: null, toolResult: null, session_id, userMessage };\n}\n\nif (!content.trim()) {\n  return { directAnswer: 'I did not get a response. Please try again.', toolName: null, toolResult: null, session_id, userMessage };\n}\n\n// === Robust JSON extractor using brace-counting ===\nfunction extractBalancedJSON(text, startIdx) {\n  const openChar = text[startIdx];\n  let depth = 0;\n  let inString = false;\n  let escaped = false;\n  for (let i = startIdx; i < text.length; i++) {\n    const ch = text[i];\n    if (escaped) { escaped = false; continue; }\n    if (ch === '\\\\' && inString) { escaped = true; continue; }\n    if (ch === '\"') { inString = !inString; continue; }\n    if (inString) continue;\n    if (ch === '{' || ch === '[') depth++;\n    if (ch === '}' || ch === ']') depth--;\n    if (depth === 0) return text.substring(startIdx, i + 1);\n  }\n  return null;\n}\n\nfunction findToolCalls(text) {\n  // Strip markdown code blocks\n  let cleaned = text.replace(/```json\\s*/gi, '').replace(/```\\s*/gi, '').trim();\n  \n  // Strategy 1: Direct parse as array\n  try {\n    if (cleaned.startsWith('[')) {\n      const parsed = JSON.parse(cleaned);\n      if (Array.isArray(parsed) && parsed.length > 0 && parsed[0].tool) return parsed;\n    }\n  } catch(e) {}\n  \n  // Strategy 2: Direct parse as object\n  try {\n    if (cleaned.startsWith('{')) {\n      const parsed = JSON.parse(cleaned);\n      if (parsed.tool && typeof parsed.tool === 'string') return [parsed];\n    }\n  } catch(e) {}\n  \n  // Strategy 3: Find first [ containing \"tool\" and extract with brace-counting\n  const arrayIdx = cleaned.indexOf('[');\n  if (arrayIdx !== -1 && cleaned.indexOf('\"tool\"') > arrayIdx) {\n    const candidate = extractBalancedJSON(cleaned, arrayIdx);\n    if (candidate) {\n      try {\n        const parsed = JSON.parse(candidate);\n        if (Array.isArray(parsed) && parsed.length > 0 && parsed[0].tool) return parsed;\n      } catch(e) {}\n    }\n  }\n  \n  // Strategy 4: Find individual {\"tool\":...} objects with brace-counting\n  const results = [];\n  let searchFrom = 0;\n  while (searchFrom < cleaned.length) {\n    const toolKeyIdx = cleaned.indexOf('\"tool\"', searchFrom);\n    if (toolKeyIdx === -1) break;\n    let braceIdx = -1;\n    for (let i = toolKeyIdx - 1; i >= searchFrom; i--) {\n      if (cleaned[i] === '{') { braceIdx = i; break; }\n      if (![' ', '\\n', '\\r', '\\t'].includes(cleaned[i])) break;\n    }\n    if (braceIdx === -1) { searchFrom = toolKeyIdx + 1; continue; }\n    const candidate = extractBalancedJSON(cleaned, braceIdx);\n    if (candidate) {\n      try {\n        const parsed = JSON.parse(candidate);\n        if (parsed.tool && typeof parsed.tool === 'string') {\n          results.push(parsed);\n          searchFrom = braceIdx + candidate.length;\n          continue;\n        }\n      } catch(e) {}\n    }\n    searchFrom = toolKeyIdx + 1;\n  }\n  \n  return results.length > 0 ? results : null;\n}\n\nconst toolCalls = findToolCalls(content) || [];\n\nif (toolCalls.length > 0) {\n  const results = [];\n  const allArgs = [];\n  let lastName = '';\n  \n  for (const tc of toolCalls) {\n    lastName = tc.tool;\n    const toolArgs = tc.args || {};\n    allArgs.push(toolArgs);\n    try {\n      const resp = await this.helpers.httpRequest({\n        method: 'POST',\n        url: MCP_BASE + '/tools/' + tc.tool,\n        body: toolArgs,\n        json: true,\n        timeout: 120000,\n      });\n      results.push(resp);\n    } catch (err) {\n      results.push({ error: err.message || 'Tool execution failed' });\n    }\n  }\n  \n  const toolName = toolCalls.length === 1 ? lastName : lastName + ' (x' + toolCalls.length + ')';\n  const fullResult = toolCalls.length === 1 ? JSON.stringify(results[0]) : JSON.stringify(results);\n  const toolResult = fullResult.substring(0, 8000);\n  const toolResultFull = fullResult.substring(0, 100000);\n  const toolArgsOut = toolCalls.length === 1 ? allArgs[0] : allArgs;\n  \n  return {\n    directAnswer: null,\n    toolName,\n    toolArgs: toolArgsOut,\n    toolCount: toolCalls.length,\n    toolResult,\n    toolResultFull,\n    session_id,\n    userMessage\n  };\n} else {\n  return {\n    directAnswer: content,\n    toolName: null,\n    toolResult: null,\n    session_id,\n    userMessage\n  };\n}"
      },
      "id": "7fbb08d1-0c72-4ff5-88ac-cc9b0e11fd8b",
      "name": "Parse and Execute Tool",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2848,
        2048
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-has-tool-result",
              "leftValue": "={{ $json.toolName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0f345f04-e571-47fe-a281-9bb82c3ea0ba",
      "name": "Has Tool Result?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2624,
        2048
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://portkey-gateway.aitp-ai.svc.cluster.local:8787/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-portkey-provider",
              "value": "anthropic"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-3-haiku-20240307\",\n  \"max_tokens\": 4096,\n  \"temperature\": 0.2,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a data center infrastructure assistant. The user asked a question and a tool was called to fetch data from Sunbird DCIM. Summarize the API result below for the user. Use markdown formatting: tables for tabular data, bullet points for lists, bold for key values. Be concise and helpful. If the result has an error, explain it clearly.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify('User asked: ' + $json.userMessage + '\\n\\nTool: ' + $json.toolName + '\\n\\nAPI Result:\\n' + $json.toolResult) }}\n    }\n  ]\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "553acc77-f68c-4bd2-ad78-70e91abccc90",
      "name": "LLM Summarize Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2400,
        1936
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "AzCkqafDCBelwLnq",
          "name": "Anthropic-API-Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build OpenAI-compatible chat completion response\nconst parseData = $('Parse and Execute Tool').first().json;\nlet content = '';\nlet toolUsed = null;\n\ntry {\n  if (parseData.toolName) {\n    const summarizeResponse = $json;\n    content = summarizeResponse?.choices?.[0]?.message?.content || 'Tool executed but summary unavailable. Raw tool: ' + parseData.toolName;\n    toolUsed = parseData.toolName;\n  } else {\n    content = parseData.directAnswer || 'I can help you with data center infrastructure. Try asking about locations, cabinets, items, PDUs, sensors, or power readings.';\n  }\n} catch (e) {\n  content = parseData.directAnswer || 'An error occurred while processing the response.';\n}\n\nreturn {\n  id: 'chatcmpl-' + Date.now(),\n  object: 'chat.completion',\n  created: Math.floor(Date.now() / 1000),\n  model: 'sunbird-dcim-assistant-v2',\n  choices: [{\n    index: 0,\n    message: { role: 'assistant', content: content },\n    finish_reason: 'stop'\n  }],\n  usage: { prompt_tokens: 0, completion_tokens: 0, total_tokens: 0 },\n  metadata: { session_id: parseData.session_id, tool_used: toolUsed, tool_args: parseData.toolArgs || null, tool_count: parseData.toolCount || 1, mcp_version: 'v2', raw_data: toolUsed ? (() => { try { return JSON.parse(parseData.toolResultFull || parseData.toolResult); } catch(e) { return null; } })() : null }\n};"
      },
      "id": "83bfb232-7a63-4ece-8fde-0691467a9b36",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2176,
        2048
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "a6b42ad0-57d9-44cf-b2f1-04d084836f98",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1968,
        2048
      ]
    },
    {
      "parameters": {
        "jsCode": "const parseData = $('Parse and Execute Tool').first().json;\nconst responseContent = $json?.choices?.[0]?.message?.content || '';\n\nreturn {\n  session_id: parseData.session_id || 'unknown',\n  user_message: parseData.userMessage || '',\n  tool_used: parseData.toolName || null,\n  response: responseContent.substring(0, 5000),\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "062ffffb-1f77-4b87-b705-6660902c0b42",
      "name": "Prepare Log Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1968,
        2240
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "chat_logs",
        "fields": "session_id,user_message,tool_used,response,timestamp",
        "options": {}
      },
      "id": "cfd9f737-2236-427a-863a-4620086e9cc4",
      "name": "Log to MongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        -1744,
        2240
      ],
      "credentials": {
        "mongoDb": {
          "id": "F2YLzgn75htvYh3n",
          "name": "AITP-MongoDB"
        }
      }
    }
  ],
  "connections": {
    "Chat Webhook": {
      "main": [
        [
          {
            "node": "Input Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Validator": {
      "main": [
        [
          {
            "node": "Fetch MCP Tools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch MCP Tools": {
      "main": [
        [
          {
            "node": "Build LLM Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build LLM Prompt": {
      "main": [
        [
          {
            "node": "LLM Tool Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Tool Selection": {
      "main": [
        [
          {
            "node": "Parse and Execute Tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse and Execute Tool": {
      "main": [
        [
          {
            "node": "Has Tool Result?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Tool Result?": {
      "main": [
        [
          {
            "node": "LLM Summarize Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Summarize Result": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Log Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Log Data": {
      "main": [
        [
          {
            "node": "Log to MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "staticData": null,
  "tags": [
    {
      "name": "sunbird"
    },
    {
      "name": "dcim"
    },
    {
      "name": "mcp"
    },
    {
      "name": "v2"
    }
  ],
  "triggerCount": 1
}